step_functions/data_pipeline_workflow.json
{
  "Comment": "Car Rental Data Processing Pipeline",
  "StartAt": "Create EMR Cluster",
  "States": {
    "Create EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
      "Parameters": {
        "Name.$": "$.emr_config.cluster_name",
        "ReleaseLabel.$": "$.emr_config.release_label",
        "Applications": [
          {
            "Name": "Spark"
          },
          {
            "Name": "Hadoop"
          },
          {
            "Name": "Hive"
          },
          {
            "Name": "Livy"
          }
        ],
        "ServiceRole.$": "$.iam_roles.emr_service_role",
        "JobFlowRole.$": "$.iam_roles.emr_ec2_instance_profile",
        "LogUri.$": "$.s3_config.log_uri",
        "Instances": {
          "InstanceGroups": [
            {
              "Name": "Master Instance Group",
              "Market": "ON_DEMAND",
              "InstanceRole": "MASTER",
              "InstanceType.$": "$.emr_config.master_instance_type",
              "InstanceCount": 1
            },
            {
              "Name": "Core Instance Group",
              "Market": "ON_DEMAND",
              "InstanceRole": "CORE",
              "InstanceType.$": "$.emr_config.core_instance_type",
              "InstanceCount.$": "$.emr_config.core_instance_count"
            }
          ],
          "KeepJobFlowAliveWhenNoSteps": true,
          "TerminationProtected": false
        },
        "VisibleToAllUsers": true,
        "Tags": [
          {
            "Key": "Project",
            "Value": "CarRentalDataProcessing"
          },
          {
            "Key": "Environment",
            "Value.$": "$.environment"
          }
        ]
      },
      "ResultPath": "$.cluster",
      "Next": "Run Vehicle Location Metrics Job"
    },
    "Run Vehicle Location Metrics Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.cluster.ClusterId",
        "Step": {
          "Name": "Vehicle Location Metrics Job",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode", "cluster",
              {"Fn::Join": ["", [{"Fn::JsonToString": {"$": "$.s3_config.scripts_path"}}, "job1_vehicle_location_metrics.py"]]},
              {"Fn::JsonToString": {"$": "$.s3_config.bucket_name"}},
              {"Fn::JsonToString": {"$": "$.environment"}}
            ]
          }
        }
      },
      "ResultPath": "$.vehicleLocationMetricsJob",
      "Next": "Run User Transaction Analysis Job"
    },
    "Run User Transaction Analysis Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.cluster.ClusterId",
        "Step": {
          "Name": "User Transaction Analysis Job",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode", "cluster",
              {"Fn::Join": ["", [{"Fn::JsonToString": {"$": "$.s3_config.scripts_path"}}, "job2_user_transaction_analysis.py"]]},
              {"Fn::JsonToString": {"$": "$.s3_config.bucket_name"}},
              {"Fn::JsonToString": {"$": "$.environment"}}
            ]
          }
        }
      },
      "ResultPath": "$.userTransactionAnalysisJob",
      "Next": "Start Glue Crawlers"
    },
    "Start Glue Crawlers": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartGlueCrawlers",
        "Payload": {
          "database.$": "$.glue_config.database_name",
          "crawlers": [
            {"Fn::Join": ["-", ["car-rental-crawler", "vehicle_location_metrics"]]},
            {"Fn::Join": ["-", ["car-rental-crawler", "user_transaction_analysis"]]}
          ]
        }
      },
      "ResultPath": "$.glueCrawlers",
      "Next": "Terminate EMR Cluster"
    },
    "Terminate EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster.sync",
      "Parameters": {
        "ClusterId.$": "$.cluster.ClusterId"
      },
      "ResultPath": "$.terminateCluster",
      "End": true
    }
  }
}
